<div class="d-flex justify-content-center">

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  Account Number:
  <input  class="form-control" formControlName="accountNumber" id="accountNumber">

  Currency:
  <select  class="form-control" formControlName="currency" required>
    <option value="PLN">PLN</option>
    <option value="EUR">EUR</option>
  </select>

  <button class="btn btn-primary" type="submit">Ok</button>


</form>
</div>
