<div class="d-flex justify-content-center">

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

  <label>
    Amount:
  </label>

  <input class="form-control" formControlName="amount" type="number" id="amount">

  <div class="alert alert-danger" *ngIf="form.get('amount').hasError('pattern')">
    Wpisz <strong>poprawną</strong> kwote
  </div>

  <label>
   Currency:
  </label>

  <select class="form-control" formControlName="currency" required>
    <option value="PLN">PLN</option>
    <option value="EUR">EUR</option>
  </select>

  <label>
    From account id:
  </label>

  <input class="form-control" formControlName="from" type="number" id="from">

  <label>
    To account number:
  </label>

  <input class="form-control" formControlName="to"  id="to">

  <div class=" alert alert-danger" *ngIf="form.get('to').hasError('minlength')">
    Wpisz <strong>poprawny</strong> numer konta
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">OK</button>

</form>
</div>
