<div class="d-flex justify-content-center">

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <i class="fa fa-user"></i>
  Login:
  <input class="form-control" formControlName="login" id="login">
  <i class="fa fa-user-secret"></i>
  Password:
  <input class="form-control" type="password"  formControlName="password" id="password">

  <button type="submit" class="btn btn-primary" >Login</button>

</form>
</div>
