<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="navbar-header">
      <i class="fa fa-bank" style="color:white;font-size: 40px;margin-right: 10px"></i>
      <a class="navbar-brand" href="/">MyBank</a>
    </div>

    <ul class="nav navbar-nav" *ngIf="active()">
      <i class="fa fa-address-card-o" style="color:white;font-size: 40px;margin-right: 10px"></i>
      <a class="navbar-brand" routerLink="/accounts" routerLinkActive="active">Transfers</a>
      <i class="fa fa-send" style="color:white;font-size: 40px;margin-right: 10px"></i>
      <a class="navbar-brand" routerLink="/transfer" routerLinkActive="active">Tranfer money</a>
      <i class="fa fa-user-plus" style="color:white;font-size: 40px;margin-right: 10px"></i>
      <a class="navbar-brand" routerLink="/addAccount" routerLinkActive="active">Add account</a>
    </ul>

    <ul class="nav navbar-nav navbar-right"  *ngIf="active()">
      <i class="fa fa-sign-out" style="color:white;font-size: 40px;"></i>
      <li><a class="navbar-brand right" (click)="logOut()" routerLink="/login" routerLinkActive="active">Logout</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right"  *ngIf="!active()">
      <i class="fa fa-sign-in" style="color:white;font-size: 40px;"></i>
      <li><a class="navbar-brand right" routerLink="/login" routerLinkActive="active">Login</a></li>
      <i class="fa fa-user-circle" style="color:white;font-size: 40px;margin-right: 10px"></i>
      <a class="navbar-brand" routerLink="/register" routerLinkActive="active">Add user</a>
    </ul>

  </div>
</nav>
