<table class="table table-primary">
  <thead>
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Amount</th>
    <th scope="col">Currency</th>
    <th scope="col">To Account Number</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transfer of transfersIn; let i=index">
    <th scope="row">{{i + 1}}</th>
    <td>{{transfer.amount}}</td>
    <td>{{ transfer.currency }}</td>
    <td>{{ transfer.accountNumberTo}}</td>
  </tr>
  </tbody>

</table><table class="table table-secondary">
  <thead>
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Amount</th>
    <th scope="col">Currency</th>
    <th scope="col">From Account Number</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transfer of transfersOut; let i=index;">
    <th scope="row">{{i + 1}}</th>
    <td>{{transfer.amount}}</td>
    <td>{{ transfer.currency }}</td>
    <td>{{ transfer.accountNumberTo}}</td>
  </tr>
  </tbody>
</table>
