<div class="badge badge-primary">LOCAL ACCOUNT</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Account Number</th>
    <th scope="col">Amount</th>
    <th scope="col">Currency</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts">
    <th scope="row">{{ account.id}}</th>
    <td>{{account.accountNumber}}</td>
    <td>{{ account.amount }}</td>
    <td>{{ account.currency }}</td>
    <td>
      <div class="btn-group" role="group" aria-label="buttons">
      <button (click)="delete(account.id)" type="button" class="btn btn-primary">Delete</button>
      <button [routerLink]="['/accountInfo',account.id]" type="button" class="btn btn-primary">Info</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class=" badge badge-dark">EXTERNAL ACCOUNT</div>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">External Account Number</th>
    <th scope="col">Owner</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of externalAccounts">
    <td>{{account.id}}</td>
    <td>{{ account.number}}</td>
    <td>{{ account.owner }}</td>
  </tr>
  </tbody>
</table>

