<form [formGroup]="form" class="form " (ngSubmit)="submit()">
  Login:
  <input class="form-control" type="text" formControlName="name" id="name">

  <div class="alert alert-danger " *ngIf="form.get('name').invalid && form.get('name').dirty">
    Imie wymagane
  </div>

  Password:
  <input class="form-control" type="password" formControlName="pass" id="pass">

  <div *ngIf="form.get('pass').getError('minlength')" class="alert alert-danger">
    Haslo wymagane minimum 6 znakow
  </div>

  Surname:
  <input class="form-control" type="text"  formControlName="surname">

  <div class="alert alert-danger " *ngIf="form.get('surname').invalid && form.get('surname').dirty">
    Nazwisko wymagane
  </div>


  Email:
  <input class="form-control" type="text" formControlName="email">

  <div class="alert alert-danger " *ngIf="form.get('email').hasError('email') ">
    Email ma zły format
  </div>

  <button [disabled]="!form.valid" class="btn btn-primary" type="submit">OK</button>

</form>
